# Node.js (Frontend and Backend)
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Build output (Frontend)
frontend/dist/
frontend/bundle.js

# Build output (if backend builds too)
backend/dist/
backend/bundle.js

# Environment variables (commonly used in backend too)
.env
.env.local
.env.production
.env.development

# Firebase config & emulators
.firebaserc
firebase-debug.log
apphosting.emulator.yaml
firestore.rules
firestore.indexes.json

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
logs/
*.log
backend/docanpr-*-firebase-adminsdk-*.json
backend/*.exe
backend/*.out
backend/*.test
backend/bin/
backend/dist/
backend/*.log
backend/.DS_Store
backend/Thumbs.db
