# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
bundle.js

# Environment variables
.env

# Firebase config & emulators
.firebaserc
firebase-debug.log
apphosting.emulator.yaml
firestore.rules
firestore.indexes.json

# VS Code settings (optional)
.vscode/

# macOS system files (optional but common)
.DS_Store

# Logs
logs/
*.log

